# ======================
# Python
# ======================
__pycache__/
*.py[cod]
.env

# Virtual environments
.venv/
venv/
ENV/
env/

# ======================
# Pytest / Test runtime
# ======================
.pytest_cache/
.cache/

# Logs
*.log

# ======================
# Playwright
# ======================
.playwright/

# ======================
# Artifacts (generated at runtime)
# ======================
artifacts/
allure-results/
allure-report/
screenshots/

# ======================
# IDE / OS
# ======================
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db



