name: Playwright Async Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest-xdist allure-pytest
          playwright install

      - name: Run tests
        run: |
          mkdir -p artifacts/allure-results
          pytest tests \
            --headless=True \
            -n auto \
            --alluredir=artifacts/allure-results
















